@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Outfit", sans-serif;
}

label {
  @apply text-[#d8d8d8] text-xl font-medium;
}

input {
  @apply border-none max-w-[700px] h-[78px] pl-5 rounded-md bg-[#32323c] text-[#a0a0a0] text-xl;
}

textarea {
  @apply max-w-[700px] border-none p-6 bg-[#32323c] text-[#a0a0a0] text-xl rounded-md;
}

button {
  @apply border-none text-white rounded-full text-xl py-5 px-14 mob:py-3 mob:px-10 cursor-pointer duration-300 bg-gradient-to-r from-fuchsia-500 to-amber-500 hover:scale-110;
}
